<div>
  <app-todo-item
    *ngFor="let todo of todos"
    [todo]="todo"
    (editTodo)="editTodo($event, content)"
    (deleteTodo)="deleteTodo($event, deleteModal)">
  </app-todo-item>
</div>


<div *ngIf="!todos">Loading...</div>

<!-- Modal for Edit Todo-->
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Edit Todo</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form class="form" (ngSubmit)="onSubmitEdit()">
      <div class="modal-body">
        
            <div class="md-form mb-5">
                <i class="fa fa-list prefix grey-text"></i>
                <input type="text" name="name" [(ngModel)]="name" placeholder="Name...">
            </div>
    
            <div class="md-form mb4">
                <i class="fa fa-clock prefix grey-text"></i>
                <input  [formControl]="todoDateMoment" type="text" name="todoDateMoment" class="timepicker" placeholder="Date/Time..." [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                <span [owlDateTimeTrigger]="dt" ></span>
                <owl-date-time [hour12Timer]= "true" [pickerMode]="'popup'" style="z-index: 1" #dt></owl-date-time>
            </div>
              
      </div>
      <div class="modal-footer">
          <button type="button" color="secondary" mdbBtn class="red accent-1 waves-light" aria-label="Close" (click)="modal.dismiss('cancel click')" mdbWavesEffect>Close</button>
          <button type="button" type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Update</button>
      </div>
  </form>
  </ng-template>
  <!-- End Modal for Edit Todo-->

  <!------------------------------------------------------------------------>

  <!-- Modal for Edit Sucess-->
  <ng-template #editSuccess let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Edit Success</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <p>Success</p>
    </div>
  </ng-template>
  
  <!-- End Modal for Edit Todo-->