<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(./assets/bg1.jpeg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text"><i class="fas fa-calendar-check"></i> Todo App</h5>
      <h2 class="card-title h2 my-4 py-2">Application for list of Todos</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">{{details}}</p>
      <a mdbBtn gradient="peach" (click)="basicModal.show()" mdbWavesEffect> <mdb-icon fas icon="clone" class="left"></mdb-icon> Add New Todo</a>

    </div>
  </div>
</div>
<!-- Jumbotron -->

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <form class="form" (ngSubmit)="onSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Add Todo</h4>
        </div>
        <div class="modal-body">
          <div class="md-form mb-5">
            <i class="fa fa-list prefix grey-text"></i>
            <input type="text" name="name" [(ngModel)]="name" placeholder="Todo Name...">
          </div>

          <div class="md-form mb4">
              <i class="fa fa-clock prefix grey-text"></i>
              <input type="text" name="date" [(ngModel)]="date" placeholder="Pick Date...">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
          <button type="button" type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
          <!-- <input type="submit" value="Add New Todo" class="relative waves-light"> -->
        </div>
      </div>
    </form>
  </div>
</div>
